# Day-7

# Introduction of Tuples âœ…
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed

You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

# Constructing Tuples
The construction of a tuples use () with elements separated by commas.

In [1]:
# Create a tuple
ab=("raju","ravi",1,2,3,7.8)

In [2]:
print(ab)

('raju', 'ravi', 1, 2, 3, 7.8)

In [3]:
type(ab)

tuple

In [4]:
emty_tuple_abc=()
type(emty_tuple_abc)

tuple

In [5]:
ac=()
type(ac)

tuple

In [6]:
my_tuple = 1,2,3  # we can also write without ()

In [7]:
type(my_tuple)

tuple

# Tuple Indexing

Indexing work just like in lists


A tuple index refers to the location of an element/or Items in a tuple

.
Remember the indexing begins from 0 in Python

.
The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [4]:
print(ab)

('raju', 'ravi', 1, 2, 3, 7.8)

In [5]:
# Grab the element at index 0, which is the FIRST element
ab[0]

'raju'

In [6]:
ab[0][1]

'a'

In [7]:
# Grab the element at the index -3, which is the THIRD LAST element
ab[-3]

2

In [9]:
ab[6]

IndexError: tuple index out of range

# Tuple Slicing

We can use a : to perform slicing which grabs everything up to a designated point.

The starting index is specified on the left of the : and the ending index is specified on the right of the :.

Remember the element located at the right index is not included. i.e right side value always present (n-1)

if we use another second : it indicates step value means skipping of some part (n-1)

In [10]:
abc=1,2,3,9,143,11.5,"aditya","swathi","sujana"

In [11]:
print(abc)

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [12]:
print(abc[:])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [16]:
print(abc[0:])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [18]:
print(abc[:9])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [19]:
print(abc[:-6])

(1, 2, 3)

In [17]:
print(abc[-8:-6])

(2, 3)

In [13]:
abc

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [15]:
print(abc[::])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [16]:
print(abc[::1])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [23]:
print(abc[0::1])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [17]:
print(abc[::3])

(1, 9, 'aditya')

In [18]:
print(abc[1::2])

(2, 9, 11.5, 'swathi')

In [20]:
print(abc[0::1])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [21]:
print(abc[-6:-2])

(9, 143, 11.5, 'aditya')

In [22]:
print(abc[-9:-3])

(1, 2, 3, 9, 143, 11.5)

In [29]:
print(abc[0::1])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [23]:
abc[-9:-2:]

(1, 2, 3, 9, 143, 11.5, 'aditya')

In [24]:
abc[-9:-2:1]

(1, 2, 3, 9, 143, 11.5, 'aditya')

In [25]:
abc[-9:-2:-1]

()

In [26]:
abc

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [33]:
print(abc[-9::-1])

(1,)

In [31]:
print(abc[-9::1])

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [32]:
print(abc[-1::1])

('sujana',)

In [33]:
# Check len just like a list
print(len(abc))

9

# Tuple Methods

In [27]:
print(abc)

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [28]:
abc=(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [30]:
abc.index(11.5)

5

In [31]:
abc.index("sujana")

8

In [33]:
range(9)

range(0, 9)

In [34]:
import numpy as np

In [35]:
np.arange(9)

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [36]:
abc

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [38]:
len(abc)

9

In [39]:
a="ravi"

len(a)

4

In [41]:
for i in  range(len(a)):
    print(i)

0
1
2
3

In [44]:
a="ravi"

for i in range(len(a)):
  print(i,a[i])

0 r
1 a
2 v
3 i

In [45]:
abc

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [46]:
len(abc)

9

In [37]:
for i in range(len(abc)):
  print(i,abc[i])

0 1
1 2
2 3
3 9
4 143
5 11.5
6 aditya
7 swathi
8 sujana

In [47]:
import numpy as np

for i in np.arange(len(abc)):
  print(i,abc[i])

0 1
1 2
2 3
3 9
4 143
5 11.5
6 aditya
7 swathi
8 sujana

# count()

> The count() method returns the total occurrence of a specified element in a tuple

In [48]:
# Use .count to count the number of times a value appears
abc.count("swathi")

1

In [49]:
my_tuple =(1,2,3,4,5,6,1,1,2)

In [50]:
my_tuple.count(1)

3

# Immutability

It can't be stressed enough that tuples are immutable

In [42]:
my_tuple

(1, 2, 3, 4, 5, 6, 1, 1, 2)

In [43]:
my_tuple[0]

1

In [51]:
my_tuple[0] = 'alter'

TypeError: 'tuple' object does not support item assignment

In [53]:
my_tuple.append('Great!')

AttributeError: 'tuple' object has no attribute 'append'

# zip()

> zip() function takes multiple lists as arguments and zips them together

>This function returns a list of n-paired tuples where n is the number of lists being zipped

In [47]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [48]:
zip(city_list, river_list)          # memory location

In [49]:
city_and_their_rivers = list(zip(city_list,river_list))

In [50]:
print(city_and_their_rivers)

[('Delhi', 'Yamuna'), ('Patna', 'Ganga'), ('Cuttack', 'Mahanadi'), ('Guwahati', 'Brahmaputra')]

In [55]:
t=1,3,5

t1=(6,576)

In [56]:
t+t1

(1, 3, 5, 6, 576)

# When to use Tuples

To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution.